:root {
  --color-primary: #27539F;
  --color-accent: #F2B408;
  --color-dark: #0C404F;

  --primary-font: 'AllRoundGothic';
  --secondary-font: 'EverLooser';
  --other-font: 'Futura';
  
}


@font-face {
  font-family: 'Futura';
  src: url('../../fonts/Futura.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../../fonts/Futura.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AllRoundGothic';
  src: url('../../fonts/AllRoundGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EverLooser';
  src: url('../../fonts/EVER\ LOOSER\ UNTEXTURED.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


.MENU_BAR {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: transparent;
}

.MENU_BAR .highlight {
  font-size: 40px;
  color: var(--color-accent);
  font-family: var(--secondary-font);

}


.talents {
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
  color: #FFFFFF;
  font-size: 40px;
  line-height: 1;
  height: 58px;
  padding-top: 17px;
  padding-bottom: 6px;
}

.talents-text {
  position: absolute;
  top: 30px;
  right: 150px;
  display: inline-block;
  gap: 10px;
  margin-right: 66px;

}

.menu {
  position: absolute;
  top: 20px;
  right: 70px;
  width: 63px;
  height: 61px;
  margin-bottom: 10px;
  z-index: 2;
}

.highlight {
  font-family: var(--secondary-font);
  font-size: 40px;
  color: var(--color-accent);
}


.element-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; 
  pointer-events: none; 
}

.element-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.element-menu img {
  width: 320px;
  height: 280px;
}

.element-container img {
  width: 771;
  height: 454;
}


.image-container {
  display: flex;
  align-items: center;
}

.logo {
  left: 380px;
  width: 376px;
  z-index: 40;
}


.hero {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;          
  min-height: 100vh;       /* occupa tutta l'altezza viewport */
  overflow: hidden;
}


.btn-section {
  z-index: 2;
}
.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.headline {
  padding-top: 300px;
  width: 100%;

}

.headline h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.headline,
.subtitle,
.click-container {
  z-index: 2;
}


.subtitle {
  margin-top: 23px;
}


/* base comune */
.line {
  display: block;
  line-height: 150px;

}

.line:last-child {
  margin-top: -30px; 
}

/* CREATE + COLLABORATE */
.main {
  font-family: var(--primary-font);
  font-size: 137px;
  color: #FFFFFF;
  -webkit-text-stroke:#FFFFFF;
}

/* COMMUNICATE */
.highlight {
  font-family: var(--secondary-font);
  font-size: 189px;
  color: var(--color-accent);
  width: 912px;
}




.subtitle {
width: 706px;
font-weight: bold;
height: 79px;
font-size: 30px;
text-align: center;
font-family: var(--other-font);
letter-spacing: 0;
line-height: 1.4;
color: #FFFFFF;
}


.click-container img {
width: 595px;
height: 195px;
margin-top: 83px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--primary-font);
  color: var(--color-accent);
  font-size: 56px;
  height: 555px;
  width: 100%;
}

.btn-brand-container:hover,
.btn-creator-container:hover
{
  color: white;
  transition: 0.3s;
}

.btn-brand-container {
  border: red 2px solid;
  width: 784px;
  height: 284px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-creator-container {
  border: red 2px solid;
  width: 784px;
  height: 284px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section {
  background-image: url(../../images/elements/COSA\ FACCIAMO_Background.png);
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: flex-start; 
  padding-top: 40px;      
  text-align: center;    
  width: 100%;
  height: 2366px;
  margin-top: -160px;
}

.content-section p {
  width: 100%;  
  max-width: 1320px;    
  margin-bottom: 30px;   
  font-family: var(--other-font);
  font-weight: 300;
  color: #FFFFFF;
  font-size: 28px;
  margin-top: -50px;
}

.content-section h1 {
  font-size: 136px;
  font-family: var(--primary-font);
  color: #FFFFFF;
  padding-top: 100px;
  margin-bottom: 10px;
}
.btn-container-inverted {
  display: flex;  
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 25px ;
}


.btn-container-inverted .btn {
  padding: 28px;
  background-color: var(--color-accent);
  color: var(--color-primary);
  font-size: 60px;
  font-family: var(--primary-font);
  border-radius: 58px;
  cursor: pointer;
  border: none;
  text-align: center;
  transition: border-radius 0.3s ease, max-height 0.3s ease;
  width: 480px;
}

.btn-container-inverted .btn .btn-content {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.btn-container-inverted .btn.btn--active .btn-content {
  opacity: 1;
  visibility: visible;
  max-height: 400px;
  transition-delay: 0.1s;
}

.btn-container-inverted .btn.btn--active {
  border-radius: 38px; 
}

.btn-container-inverted .btn .btn-content hr {
  border: 5px solid #308EAA;
  margin: 20px auto;
  color: #308EAA;
  border-radius: 10px;
  width: 90%; 
  transition: opacity 0.3s ease
}

.btn-container-inverted .btn .btn-content p {
  color: #2D5A67;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}


